language: go

sudo: false
email: false

go:
  - 1.13.x
  - 1.14.x
  - tip

script:
    # Run the unit tests suite
    - go test -v -race ./...

notificaitons:
    email:
        recipients: lihongitchina@gmail.com 
        on_success: change
        on_failure: always
